<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EE-MEMORY</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/settingsCSS.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TestStand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Data Table</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('settings') }}">EE-MEMORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('testing') }}">Debugging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('past_tests') }}">Past Tests</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center">EE-MEMORY</h1>
    <div class="button-container text-center">
        <button class="btn btn-custom btn-start" onclick="start()">Start</button>
        <button class="btn btn-custom btn-stop" onclick="stop()">Stop</button>
        <button class="btn btn-custom btn-emergency" onclick="toggleEmergencyStop()">Emergency Stop</button>
    </div>
    <div class="form-container">
        <form id="ee-memory-form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="customerid1">customerid1: <span class="dvc-value">(DVC: <span id="dvc-customerid1"></span>)</span></label>
                        <input type="number" class="form-control" id="customerid1" name="customerid1" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="customerid2">customerid2: <span class="dvc-value">(DVC: <span id="dvc-customerid2"></span>)</span></label>
                        <input type="number" class="form-control" id="customerid2" name="customerid2" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SM_DIR">SM_DIR: <span class="dvc-value">(DVC: <span id="dvc-SM_DIR"></span>)</span></label>
                        <input type="number" class="form-control" id="SM_DIR" name="SM_DIR" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SM_rpm">SM_rpm: <span class="dvc-value">(DVC: <span id="dvc-SM_rpm"></span>)</span></label>
                        <input type="number" class="form-control" id="SM_rpm" name="SM_rpm" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SM_rate">SM_rate: <span class="dvc-value">(DVC: <span id="dvc-SM_rate"></span>)</span></label>
                        <input type="number" class="form-control" id="SM_rate" name="SM_rate" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SM_timer">SM_timer: <span class="dvc-value">(DVC: <span id="dvc-SM_timer"></span>)</span></label>
                        <input type="number" class="form-control" id="SM_timer" name="SM_timer" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="LC1_rate">LC1_rate: <span class="dvc-value">(DVC: <span id="dvc-LC1_rate"></span>)</span></label>
                        <input type="number" class="form-control" id="LC1_rate" name="LC1_rate" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="MaxCycles">MaxCycles: <span class="dvc-value">(DVC: <span id="dvc-MaxCycles"></span>)</span></label>
                        <input type="number" class="form-control" id="MaxCycles" name="MaxCycles" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleTime1">CycleTime1: <span class="dvc-value">(DVC: <span id="dvc-CycleTime1"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleTime1" name="CycleTime1" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CyclePSI1">CyclePSI1: <span class="dvc-value">(DVC: <span id="dvc-CyclePSI1"></span>)</span></label>
                        <input type="number" class="form-control" id="CyclePSI1" name="CyclePSI1" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleTime2">CycleTime2: <span class="dvc-value">(DVC: <span id="dvc-CycleTime2"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleTime2" name="CycleTime2" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CyclePSI2">CyclePSI2: <span class="dvc-value">(DVC: <span id="dvc-CyclePSI2"></span>)</span></label>
                        <input type="number" class="form-control" id="CyclePSI2" name="CyclePSI2" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleTime3">CycleTime3: <span class="dvc-value">(DVC: <span id="dvc-CycleTime3"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleTime3" name="CycleTime3" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CyclePSI3">CyclePSI3: <span class="dvc-value">(DVC: <span id="dvc-CyclePSI3"></span>)</span></label>
                        <input type="number" class="form-control" id="CyclePSI3" name="CyclePSI3" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleTime4">CycleTime4: <span class="dvc-value">(DVC: <span id="dvc-CycleTime4"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleTime4" name="CycleTime4" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CyclePSI4">CyclePSI4: <span class="dvc-value">(DVC: <span id="dvc-CyclePSI4"></span>)</span></label>
                        <input type="number" class="form-control" id="CyclePSI4" name="CyclePSI4" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleTime5">CycleTime5: <span class="dvc-value">(DVC: <span id="dvc-CycleTime5"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleTime5" name="CycleTime5" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CyclePSI5">CyclePSI5: <span class="dvc-value">(DVC: <span id="dvc-CyclePSI5"></span>)</span></label>
                        <input type="number" class="form-control" id="CyclePSI5" name="CyclePSI5" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="CycleDelay">CycleDelay: <span class="dvc-value">(DVC: <span id="dvc-CycleDelay"></span>)</span></label>
                        <input type="number" class="form-control" id="CycleDelay" name="CycleDelay" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="t1scale">t1scale: <span class="dvc-value">(DVC: <span id="dvc-t1scale"></span>)</span></label>
                        <input type="number" class="form-control" id="t1scale" name="t1scale" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="t3scale">t3scale: <span class="dvc-value">(DVC: <span id="dvc-t3scale"></span>)</span></label>
                        <input type="number" class="form-control" id="t3scale" name="t3scale" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="f1scale">f1scale: <span class="dvc-value">(DVC: <span id="dvc-f1scale"></span>)</span></label>
                        <input type="number" class="form-control" id="f1scale" name="f1scale" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="f2scale">f2scale: <span class="dvc-value">(DVC: <span id="dvc-f2scale"></span>)</span></label>
                        <input type="number" class="form-control" id="f2scale" name="f2scale" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="f3scale">f3scale: <span class="dvc-value">(DVC: <span id="dvc-f3scale"></span>)</span></label>
                        <input type="number" class="form-control" id="f3scale" name="f3scale" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="TP_Reverse">TP_Reverse: <span class="dvc-value">(DVC: <span id="dvc-TP_Reverse"></span>)</span></label>
                        <input type="number" class="form-control" id="TP_Reverse" name="TP_Reverse" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="TP_Max_Percent">TP_Max_Percent: <span class="dvc-value">(DVC: <span id="dvc-TP_Max_Percent"></span>)</span></label>
                        <input type="number" class="form-control" id="TP_Max_Percent" name="TP_Max_Percent" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="P1Scale">P1Scale: <span class="dvc-value">(DVC: <span id="dvc-P1Scale"></span>)</span></label>
                        <input type="number" class="form-control" id="P1Scale" name="P1Scale" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="P5Scale">P5Scale: <span class="dvc-value">(DVC: <span id="dvc-P5Scale"></span>)</span></label>
                        <input type="number" class="form-control" id="P5Scale" name="P5Scale" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="P4Scale">P4Scale: <span class="dvc-value">(DVC: <span id="dvc-P4Scale"></span>)</span></label>
                        <input type="number" class="form-control" id="P4Scale" name="P4Scale" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="saveChanges()">Save Changes</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>
</html>
